<h1>I am Batman</h1>

<script>
	// $.backstretch("http://www.bolsamania.com/cine/wp-content/uploads/2016/04/6-7.jpg");
	$.backstretch("<%= asset_path('batman.jpg')%>");
</script>

<center><h1>VOTOS: <%= @batman %></h1></center>