<h1>This looks like a job for Superman</h1>

<script>
	// $.backstretch("http://proyectopuente.com.mx/wp-content/uploads/2016/07/superman.jpg");
	$.backstretch("<%= asset_path('superman.jpg')%>");
</script>

<center><h1>VOTOS: <%= @superman %></h1></center>